{{- $label := .Get "label" -}}
{{- $color := .Get $label -}}
{{- $rgbRegExp := "[0-9]{1,3}(?:(,|\\)))" -}}
{{- if (hasPrefix $color "#") -}}
  {{- if lt (len $color) 7 -}}
    {{- .Set "redstr" (substr $color 1 1) -}}
    {{- .Set "greenstr" (substr $color 2 1) -}}
    {{- .Set "bluestr" (substr $color 3 1) -}}
    {{- /* If has alpha */ -}}
    {{- if eq (len $color) 5 -}}
      {{- .Set "alphastr" (substr $color 4 1) -}}
    {{- else -}}
      {{- .Set "alphastr" "f" -}}
    {{- end -}}
  {{- else -}}
    {{- .Set "redstr" (substr $color 1 2) -}}
    {{- .Set "greenstr" (substr $color 3 2) -}}
    {{- .Set "bluestr" (substr $color 5 2) -}}
    {{- /* If has alpha */ -}}
    {{- if eq (len $color) 9 -}}
      {{- .Set "alphastr" (substr $color 7 2) -}}
    {{- else -}}
      {{- .Set "alphastr" "ff" -}}
    {{- end -}}
  {{- end -}}
  {{- partial "css/color/convert_hex.css" . -}}
{{- else if (hasPrefix $color "rgb") -}}
  {{- $str := .Get $label -}}
  {{- $str := trim (replace (replace $str "rgba(" "") "rgb(" "") " \n" -}}
  {{- $nums := findRE $rgbRegExp $str -}}
  {{- $scr := . -}}
  {{- range $i, $looplabel := slice "red" "green" "blue" -}}
    {{- $val := index $nums $i -}}
    {{- $scr.Set $looplabel (int (trim $val ",)")) -}}
  {{- end -}}
  {{- .Set "alpha" 1.0 -}}
  {{- if eq 4 (len $nums) -}}
    {{- $floatstr := last 1 (findRE "[0-1](\\.[0-9]+)?\\)" $str 1) -}}
    {{- $floatstr := trim (index $floatstr 0) ")" -}}
    {{- .Set "floatstr" $floatstr -}}
    {{- partial "utility/float.html" . -}}
    {{- .Set "alpha" (.Get "floatval") -}}
  {{- end -}}
{{- else -}}
  {{- $keywords := getJSON "https://raw.githubusercontent.com/corysimmons/colors.json/master/colors.json" -}}
  {{- $arr := index $keywords $color -}}
  {{- .Set "red" (index $arr 0) -}}
  {{- .Set "green" (index $arr 1) -}}
  {{- .Set "blue" (index $arr 2) -}}
  {{- .Set "alpha" (index $arr 3) -}}
{{- end -}}
