{{- if .Site.Params.widgets.upcoming_events -}}
<div class="widget">
	<header>
		<span class="widget-header"><span class="fa fa-calendar"></span> Upcoming Events</span>
	</header>
	{{- range $format := (.Site.GetPage "home").OutputFormats -}}
		{{ if eq $format.Name "Calendar" }}
		<a class="widget-header-small button" href="webcal://{{ replace (replace ("index.ics" | absLangURL) "https://" "") "http://" ""}}"><span class="fa fa-calendar-plus-o"></span> Subscribe with iCal</a>
		{{ end }}
	{{- end -}}
	<ul>
		{{ $withDay := "01/02/2006 at 3:04 PM" }}
		{{ $timeOnly := "3:04 PM" }}
		{{- range first 5 (where (sort $.Site.Data.events "startDatetime" "asc") "endDatetime" "gt" now) -}}
		{{- $sameDay := eq (dateFormat "2006-01-02" .endDatetime) (dateFormat "2006-01-02" .startDatetime) -}}
		{{- $.Scratch.Set "dateFormat" $withDay -}}
		<li itemscope itemtype="http://schema.org/Event">
      <span class="widget-header-small text-left" itemprop="name">{{ .name }}</span>
			{{- if $sameDay -}}
				{{ dateFormat "01/02/2006" .startDatetime }} from
				{{- $.Scratch.Set "dateFormat" $timeOnly -}}
			{{- end -}}
			{{- if not $sameDay -}}<strong>Start:</strong>{{- end -}}
			<time datetime="{{ dateFormat "2006-01-02T15:04:05" .startDatetime }}" content="{{ dateFormat "2006-01-02T15:04:05" .startDatetime }}" itemprop="startDate">
				{{ dateFormat ($.Scratch.Get "dateFormat") .startDatetime }}
			</time>
			{{ if $sameDay }}to{{ else }}<br/><strong>End:</strong>{{ end }}
			<time datetime="{{ dateFormat "2006-01-02T15:04:05" .endDatetime }}" content="{{ dateFormat "2006-01-02T15:04:05" .endDatetime }}" itemprop="endDate">
				{{ dateFormat ($.Scratch.Get "dateFormat") .endDatetime }}
			</time>
      <br/><span itemprop="about">{{ .description }}</span>
    </li>
		{{- end -}}
	</ul>
</div>
{{- end -}}
