{{- if and $.Site.Params.widgets $.Site.Params.widgets.recent_articles -}}
<div class="widget">
	<header>
		<span class="widget-header"><span class="fa fa-pencil"></span> <a href="{{ "post/" | absLangURL }}">Projects</a></span>
	</header>
	{{ $url := .URL }}
	
	{{ if or (eq .Kind "section") (eq .Kind "taxonomy") -}}
		{{- $this := . -}}
		{{- range $format := .OutputFormats -}}
			{{- if eq $format.Name "RSS" -}}
				<a class="widget-header-small button" href="{{ add $this.URL "/index.xml" | absLangURL }}"><span class="fa fa-rss"></span> Subscribe to {{ $this.LinkTitle }}</a>
			{{- end -}}
		{{- end -}}
	{{- else if .IsPage -}}
	{{- $sectionstr := trim (replaceRE "[^/]+$" "" (trim .URL "/")) "/" -}}

	{{- $.Scratch.Set "section" "" -}}
	{{- $.Scratch.Set "sectionok" true -}}
	{{- range $piece := split $sectionstr "/" -}}
		{{- if $.Scratch.Get "sectionok" -}}
			{{- /*Build the closest section*/ -}}
			{{- if eq ($.Scratch.Get "section") "" -}}
				{{- $.Scratch.Set "section" $piece -}}
			{{- else if ($.Site.GetPage "section" ($.Scratch.Get "section") $piece) -}}
				{{- $.Scratch.Add "section" "/" -}}
				{{- $.Scratch.Add "section" $piece -}}
			{{- else -}}
				{{- $.Scratch.Set "sectionok" false -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}

	{{- $section := (.Site.GetPage "section" ($.Scratch.Get "section")) -}}
	{{- if ne (trim $section.URL "/") "" -}}
		{{- range $format := $section.OutputFormats -}}
		{{- if eq $format.Name "RSS" -}}
		<a class="widget-header-small button" href="{{ add $section.URL "/index.xml" | absLangURL }}"><span class="fa fa-rss"></span> Subscribe to {{ $section.LinkTitle }}</a>
		{{- end -}}
		{{- end -}}
	{{- end -}}
	{{- end -}}
	<ul>
		{{- range first 10 (where .Site.Pages "Section" "projects") -}}
		{{ if not (eq .URL "/projects/") }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
		{{- end -}}
	</ul>
</div>
{{- end -}}
