{{- if $.Site.Params.iubenda.pro.enable_pro -}}
  {{- with $.Site.Params.iubenda.id -}}
    {{- $content := getJSON (add (add "http://www.iubenda.com/api/privacy-policy/" .) "/no-markup") -}}
    {{- if $content.success -}}
      {{- $content.content | replaceRE "<h1>(.*)</h1>" "" | safeHTML -}}
    {{- else -}}
    <a href="//www.iubenda.com/privacy-policy/{{ . }}" class="iubenda-nostyle no-brand iub-body-embed iub-legal-only iub-no-markup iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    {{- end -}}
  {{- else -}}
  Iubenda policy ID not set.
  {{- end -}}
{{- else -}}
Iubenda Pro features not enabled.
{{- end -}}
