<!-- about us -->
<section class="section-sm" id="about">
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-md-7 col-12 order-2 order-md-1 wow bounceInLeft">
        <div>
          <h2 class="section-title">About ACA</h2>
          <p>Association for Computing Activities (ACA) is the Computer Science society of IIT Kanpur.</p>
          
          <h4>Our Aims</h4>
          
          <ul>
            <li>To spread knowledge about Computer Science and technology.</li>
            <li>To encourage students to get involved in extra-curricular engineering projects.</li>
            <li>To provide computing resources and guidance to students.</li>
            <li>To promote student-student and student-teacher interaction.</li>
          </ul>
          
          <p>ACA organizes departmental activities right from freshers&rsquo; to farewell in addition to several
            programming competitions and lectures.</p>
            
            <p>Don&rsquo;t forget to follow us on Facebook !</p>
            <!-- <a href="about.html" class="btn btn-outline-primary">Learn more</a> -->
          </div>
        </div>
        <!--side column -->
        <div class="col-md-4 col-12 offset-md-1 order-1 order-md-2 wow bounceInRight">
          <!-- @@include('blocks/events.htm') -->
          <!-- events -->
          <section class="section">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">Upcoming Events</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <!-- event -->
                <div>
                  <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                      <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
                      <div class="card-date"><span>8 </span><br>November</div>
                    </div>
                    <div class="card-body">
                      <!-- location -->
                      <p><i class="ti-time text-primary icon-sm mr-2"></i>4:00pm <br>
                        <i class="ti-location-pin text-primary mr-2"></i>RM 101, IIT Kanpur
                      </p>
                      <a href="event-single.html">
                        <h4 class="card-title">Happy Hour</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- mobile see all button -->
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- /events -->
  
  
  
  <!-- /about us -->