<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 text-center">
        <a href="https://github.com/aca-cse-iitk/aca-projects-2021" class="btn btn-sm btn-outline-primary">See all</a>
      </div>
      <div class="col-sm-10 text-right">
        <a class="btn btn-primary mb-3 mr-1 prevproj" >
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 nxtproj"  >
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <!-- <div class="carousel-inner">
            <div class="carousel-item active"> -->
              <div class="row projectsslide slider">

                
                  <div
                    class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/cp_1.jpg" height="250" alt="Post thumb">
                    <div class="card-body">
                      <!-- post meta -->
                      <a href="https://github.com/aca-cse-iitk/Project2022/tree/main/Unmasking_CP">
                        <h4 class="card-title">COMPETITIVE PROGRAMMING</h4>
                      </a>
                      <p class="card-text">ACA introduces the freshers to the vast world of Competitive Programming.
                        Projects
                        related to Data Structures and Algorithms are also offered.</p>
                      <!-- <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a> -->
                    </div>
                  </div>
                
                <!-- blog post -->
                
                  <div
                    class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/ml_1.jpg" height="250" alt="Post thumb">
                    <div class="card-body">
                      <!-- post meta -->
                      <a href="blog-single.html">
                        <h4 class="card-title">Machine Learning</h4>
                      </a>
                      <p class="card-text">ACA offers introductory and intermediate projects related to Machine
                        Learning. In the
                        past, we have offered projects
                        in different subdomains of ML such as Reinforcement Learning, Deep Learning.
                      </p>
                      <!-- <a href="#" class="btn btn-primary btn-sm">See All</a> -->
                    </div>
                  </div>
                
                <!-- blog post -->
                <!-- <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0"> -->
                  <div
                    class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/blockchain_1.jpg" height="250" alt="Post thumb">
                    <div class="card-body">
                      <!-- post meta -->
                      <a href="https://github.com/aca-cse-iitk/Project2022/tree/main/BlockChain101">
                        <h4 class="card-title">Blockchains</h4>
                      </a>
                      <p class="card-text">ACA offers introductory projects related to Blockchains and their
                        applications such
                        as Cryptocurrency, and other operations demanding safe and secure transactions</p>
                      <!-- <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a> -->
                    </div>
                  </div>
                <!-- </article> -->
              <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="carousel-item"> -->
              <!-- <div class="row"> -->

                <!-- <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0"> -->
                  <div
                    class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/web_1.jpg" height="250" alt="Post thumb">
                    <div class="card-body">
                      <!-- post meta -->
                      <a href="https://github.com/aca-cse-iitk/Project2022/tree/main/Full_Stack_Web_Development">
                        <h4 class="card-title">WEB DEVELOPMENT</h4>
                      </a>
                      <p class="card-text">ACA offers projects related to Web Development where mentees are taught basic HTML, CSS, JS and 
                        several frameworks commonly used in developing a website.
                      </p>
                      <!-- <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a> -->
                    </div>
                  </div>
                <!-- </article> -->
                <!-- blog post -->
                <!-- <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0"> -->
                  <div
                    class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/cyber_1.jpg" height="250" alt="Post thumb">
                    <div class="card-body">
                      <!-- post meta -->
                      <a href="https://github.com/aca-cse-iitk/Project2022/tree/main/Echo_Access_Granted">
                        <h4 class="card-title">CYBER SECURITY</h4>
                      </a>
                      <p class="card-text">ACA offers projects like InfoSec which are based on Cyber Security concepts
                        and introduces the mentees to the vast domain of Cyber Security and its subdomains
                      </p>
                      <!-- <a href="#" class="btn btn-primary btn-sm">See All</a> -->
                    </div>
                  </div>
                <!-- </article> -->
                <!-- blog post -->
                <!-- <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0"> -->
                  <div
                    class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/languages_1.jpg" height="250" alt="Post thumb">
                    <div class="card-body">
                      <!-- post meta -->
                      <a href="https://github.com/aca-cse-iitk/Project2022/tree/main/Python_and_its_common_uses">
                        <h4 class="card-title">PROGRAMMING LANGUAGE SPECIFICS</h4>
                      </a>
                      <p class="card-text">ACA offers projects related to specific Programming Languages such as Rust,
                        Go, Julia, and others that find use in several non-trivial problem cases.</p>
                      <!-- <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a> -->
                    </div>
                  </div>
                <!-- </article> -->

              <!-- </div> -->
          <!-- </div> -->




          </div>
        </div>
      </div>
    </div>
  </div>
</section>