    <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/anchal_1.jpg" alt="teacher">
      <div class="card-body">
        <a href="teacher-single.html">
          <h4 class="card-title">Anchal Gupta</h4>
        </a>
        <p>UG Coordinator</p>
      </div>
    </div>
  </div>
  <!-- teacher -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/aryan_1.jpg" alt="teacher">
      <div class="card-body">
        <a href="teacher-single.html">
          <h4 class="card-title">Aryan Mundada</h4>
        </a>
        <p>UG Coordinator</p>
      </div>
    </div>
  </div>
  <!-- teacher -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/dinesh_1.jpg" alt="teacher">
      <div class="card-body">
        <a href="teacher-single.html">
          <h4 class="card-title">Dinesh Ram</h4>
        </a>
        <p>UG Coordinator</p>
      </div>
    </div>
  </div>
  <!-- teacher -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/shivamshree_1.jpg" alt="teacher">
      <div class="card-body">
        <a href="teacher-single.html">
          <h4 class="card-title">Shivamshree Gupta</h4>
        </a>
        <p>UG Coordinator</p>
      </div>
    </div>
  </div>
  <!-- teacher -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/avideep_1.jpg" alt="teacher">
      <div class="card-body">
        <a href="teacher-single.html">
          <h4 class="card-title">Avideep Mukherjee</h4>
        </a>
        <p>PG Coordinator</p>
      </div>
    </div>
  </div>