<!-- course list -->
<div class="row justify-content-center" id = "bestfaculty">
  <div id="post-content">
    <span itemprop="articleBody">
      
      <p>Dr. Pankaj Jalote has instituted the CSE Best Teacher Award. The award includes a plaque given to the
        Professor. An appropriate citation written by the graduating batch is read out in praise of the professor
        selected for the award. The awardee is elected by the graduating BTech, MTech, and dual-degree students.</p>
        
        <p>Dr. Pankaj Jalote is a former faculty member of the Department of CSE, IIT Kanpur. He has authored several
          well-known books on software engineering and fault tolerance. He is on the Board of Advisors of many software
          companies in India and USA, is a Technical Advisory Board member for Microsoft Research, India, and is on the
          Editorial Board of IEEE Transactions on Software Engineering, and International Journal of Emperical Software
          Engineering.</p>
          
          <p>His research interest is in software engineering (software quality, software process improvement, software
            architecture analysis), and fault tolerant systems and reliability.</p>
            
            <h3 id="past-winners">Past Winners</h3>
            <!-- <table id="fac-award-wrapper" class="table table-hover">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Professor</th>
                  
                </tr>
              </thead>
              
              
            </table> -->
            <div class="row">
              <div class="col-12 awardtime">
                <div >
                <div class="box">
                  <div class="content">
                    <p>Platform</p>
                  </div>
                  <div class="content-hover">
                    <h1>Platform</h1>
                    <p>Dr. Naman Singla</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </span>
        </div>
      </div>
      <!-- /course list -->