<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="images/banner/cse-3.jpg" id="home">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">ACA, IIT Kanpur</h1>
            <p class="text-white mb-4" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Association for Computing Activities (ACA) is the Computer Science society of IIT Kanpur. ACA organizes departmental activities right from freshers’ to farewell in addition to several programming competitions and lectures.</p>
            <a href="#about" class="btn btn-primary" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /hero slider -->